<!-- <div class="text-layout">
  <h1>{{nombre | titlecase}}</h1>
  <h1>{{valor | number}}</h1>
  <h1>{{obj | json}}</h1>
</div>


<button pButton (click)="mostrarNombre()" label="Cambiar nombre" icon="pi pi-desktop" iconPos="right" class="p-button-help">
</button>

<p-card [header]="nombre | titlecase" subheader="Esto es un subheader">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatibus nisi animi magnam odit ratione omnis non quibusdam. Fugit eos inventore nisi facilis exercitationem atque maiores ipsum excepturi, asperiores et?
</p-card> -->

<app-menu></app-menu>
<router-outlet></router-outlet>